.main{
    width: 100vw;
    height: 100vh;
    background-color:white;
}
body{
    margin: 0;
    padding: 0;
}
.sidebar{
    height: 100%;
    width: 300px;
    background-color: rgb(52, 54, 0);
}
.comp-sidebar{
    height:100%;
    width: 100%;
    padding: 0;
}
li{
    width: 100%;
    height: 70px;
    list-style-type: none;
    margin: 0%;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
li:hover{
    cursor: pointer;
    background-color: rgb(241, 197, 15);
    color: black;
}
*{
    margin: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

.page{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover{
    background-color: white;
    width: 500px;
    height: 600px;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.55em rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.alt-login{
    width: 80%;
    height: 3em;
    display: flex;
    justify-content: space-around;
}

.alt-login div{
    width: 45%;
    height: 90%;
    border-radius: 0.25em;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.google{
    background-image: url("../../assets/images/google.jpg");
}

.facebook{
    background-image: url("../../assets/images/facebook.jpg");
}



.login-btn {
    width: 40%;
    height: 3em;
    background-color: rgb(241, 197, 15);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
}

.login-btn:hover{
    transform: scale(1.25);
}

.text{
    position: absolute;
    bottom: -2em;
}

.buttontext{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
}

.profile_img{
    margin-top: -45px;
    border-color: gray;
    width: 105px;
    margin-bottom: -20px;
}

.photoUp{
    color: grey;
    align-items: center;
}
.photoUp:hover{
    cursor: pointer;
    color: black;
    transform: scale(1.25);
}